/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: white; 
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Encabezado */
header {
    background: linear-gradient(90deg, #3e70e5, #2568ed);
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Secciones */
.section {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.section:hover {
    transform: scale(1.02);
}

/* Títulos de las secciones */
h2 {
    color: blue;
    text-transform: uppercase;
    font-size: 1.8rem;
}

/* Estilos para listas */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ADD8E6;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

ul li:hover {
    background: blue;
    color: #222;
}

/* Imagen */
img {
    width: 80%;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.navbar ul li:hover {
    background-color: #555;
}